### Scratch pad for assignments

In [1]:
M = [8  2 2 -1 ;
    -2 -6 3 -4 ;
     3 -4 2 -6 ;
     1  2 0  2 ]; 
b = [1; -1; 1; 1];
M\b

M = [M, b]

ans =

   -5.0000
   10.0000
    7.0000
   -7.0000

M =

   8   2   2  -1   1
  -2  -6   3  -4  -1
   3  -4   2  -6   1
   1   2   0   2   1

In [2]:
format rat
M(2,:) = M(2,:) - -2/8 * M(1,:)

M =

          8          2          2         -1          1
          0      -11/2        7/2      -17/4       -3/4
          3         -4          2         -6          1
          1          2          0          2          1

In [3]:
M(3,:) = M(3,:) - 3/8 * M(1,:)

M =

          8          2          2         -1          1
          0      -11/2        7/2      -17/4       -3/4
          0      -19/4        5/4      -45/8        5/8
          1          2          0          2          1

In [4]:
M(4,:) = M(4,:) - 1/8 * M(1,:)

M =

          8          2          2         -1          1
          0      -11/2        7/2      -17/4       -3/4
          0      -19/4        5/4      -45/8        5/8
          0        7/4       -1/4       17/8        7/8

In [5]:
M(3,:) = M(3,:) - 19/22*M(2,:)

M =

          8          2          2         -1          1
          0      -11/2        7/2      -17/4       -3/4
          0          0     -39/22     -43/22      14/11
          0        7/4       -1/4       17/8        7/8

In [6]:
M(4,:) = M(4,:) - -7/22*M(2,:)

M =

          8          2          2         -1          1
          0      -11/2        7/2      -17/4       -3/4
          0          0     -39/22     -43/22      14/11
          0          0      19/22      17/22       7/11

In [7]:
M(4,:)  = M(4,:) - (-19/39)*M(3,:)

M =

          8          2          2         -1          1
          0      -11/2        7/2      -17/4       -3/4
          0          0     -39/22     -43/22      14/11
          0          0          *      -7/39      49/39

In [8]:
M(3,:)  = M(3,:) - (-43/22)/(-7/39)*M(4,:)

M =

          8          2          2         -1          1
          0      -11/2        7/2      -17/4       -3/4
          0          0     -39/22          *    -273/22
          0          0          *      -7/39      49/39

In [9]:
M(2,:)  = M(2,:) - (-17/4)/(-7/39)*M(4,:)

M =

          8          2          2         -1          1
          0      -11/2        7/2          0      -61/2
          0          0     -39/22          *    -273/22
          0          0          *      -7/39      49/39

In [10]:
M(1,:)  = M(1,:) - (-1)/(-7/39)*M(4,:)

M =

          8          2          2          *         -6
          0      -11/2        7/2          0      -61/2
          0          0     -39/22          *    -273/22
          0          0          *      -7/39      49/39

In [11]:
M(2,:)  = M(2,:) - (7/2)/(-39/22)*M(3,:)

M =

          8          2          2          *         -6
          0      -11/2          *          *        -55
          0          0     -39/22          *    -273/22
          0          0          *      -7/39      49/39

In [12]:
M(1,:)  = M(1,:) - (2)/(-39/22)*M(3,:)

M =

          8          2          *          *        -20
          0      -11/2          *          *        -55
          0          0     -39/22          *    -273/22
          0          0          *      -7/39      49/39

In [13]:
M(1,:)  = M(1,:) - (2)/(-11/2)*M(2,:)

M =

          8          0          *          *        -40
          0      -11/2          *          *        -55
          0          0     -39/22          *    -273/22
          0          0          *      -7/39      49/39

In [14]:
A = [2 3 -1;
     4 -3 1;
     3 6 -4]
     
b = [5; 4; 5/2]

A\b

A =

          2          3         -1
          4         -3          1
          3          6         -4

b =

          5
          4
        5/2

ans =

        3/2
        5/3
          3

In [23]:
     
M(2,:) = M(2,:) - 1/4 * M(1,:)
M(3,:) = M(3,:) - 1/2 * M(1,:)
a = M(2,:)
M(2,:) = M(3,:)
M(3,:) = a
M(3,:) = M(3,:) - 3/14 * M(2,:)

M(2,:) = M(2,:) - 56/51 * M(3,:)

M(1,:) = M(1,:) + 84/51 * M(3,:)

M =

          4          1          6         21
          1          1         -3         -9
          2          4         -1         -5

M =

          4          1          6         21
          0        3/4       -9/2      -57/4
          2          4         -1         -5

M =

          4          1          6         21
          0        3/4       -9/2      -57/4
          0        7/2         -4      -31/2

a =

          0        3/4       -9/2      -57/4

M =

          4          1          6         21
          0        7/2         -4      -31/2
          0        7/2         -4      -31/2

M =

          4          1          6         21
          0        7/2         -4      -31/2
          0        3/4       -9/2      -57/4

M =

          4          1          6         21
          0        7/2         -4      -31/2
          0          0     -51/14    -153/14

M =

          4          1          6         21
          0        7/2          0       -7/2
          0          0     -51/14    -153/14

M =

          4          1          0          3
          0        7/2          0       -7/2
          0          0     -51/14    -153/14

In [24]:
M = [4 1 6 21;
     1 1 -3 -9;
     2 4 -1 -5]
     
b = M(:,4)
A = M(:, [1 2 3])

M =

          4          1          6         21
          1          1         -3         -9
          2          4         -1         -5

b =

         21
         -9
         -5

A =

          4          1          6
          1          1         -3
          2          4         -1

In [25]:
A\b

ans =

          1
         -1
          3

In [46]:
A = [2 -4 1;
     3 1 2;
     5 3 0]

A\b
     
A(2,:) = A(2,:) - 3/2*A(1,:)

A(3,:) = A(3,:) - 5/2*A(1,:)

A(3,:) = A(3,:) - (13/7)*A(2,:)

A =

          2         -4          1
          3          1          2
          5          3          0

ans =

          1
          2
          3

A =

          2         -4          1
          0          7        1/2
          5          3          0

A =

          2         -4          1
          0          7        1/2
          0         13       -5/2

A =

          2         -4          1
          0          7        1/2
          0          0      -24/7

In [33]:
L = [1 0 0;
     3/2 1 0;
     5/2 13/7 1]

L =

          1          0          0
        3/2          1          0
        5/2       13/7          1

In [34]:
L*A

ans =

          2         -4          1
          3          1          2
          5          3          0

In [37]:
det(A)

ans = -48

In [40]:
b = [-3;11;11];

g=L\b

g =

         -3
       31/2
      -72/7

In [45]:
A\b

A =

          2         -4          1
          0          7        1/2
          0          0      -24/7

In [48]:
N = [A,g]

N(2,:) = N(2,:) - N(2,3)/N(3,3)*N(3,:)

N =

          2         -4          1         -3
          0          7        1/2       31/2
          0          0      -24/7      -72/7

N =

          2         -4          1         -3
          0          7          0         14
          0          0      -24/7      -72/7

In [55]:
U = [4 -2 1;
     0 5 5/2;
     0 0 5/2]
     
L = [1 0 0;
     -1/2 1 0;
     0 3/5 1]

b = [-1; -2; -9]

g = L\b

U\g

U =

          4         -2          1
          0          5        5/2
          0          0        5/2

L =

          1          0          0
       -1/2          1          0
          0        3/5          1

b =

         -1
         -2
         -9

g =

         -1
       -5/2
      -15/2

ans =

          1
          1
         -3